@import url(style.css);

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

nav {
	background: #eee;
}

.menu {

}

.menu li {
	float: left;
}

.menu li a {
	display: inline-block;
	padding: 10px 15px;
}