

body {
	background: url(images/bg.png) repeat #fff;
	background-size: cover;
	overflow-x:hidden;
	font-size: 90%;
}

a:hover {
	text-decoration: none;
	color: white;
}

a {
	color: white;
}


main {
	margin: auto;
}

.contain {
	max-width: 980px;
}

	/*--- HEADER ---*/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	margin-top: 40px;

}

.nav-header,ul,.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: -5px;
}

.nav-header ul li {
	margin: 15px;

}

a {
	margin: 0 -2px;
}

hr {
	margin: -8px 0;
	height: 0;
	border-top:1px solid #373737;
	border-bottom:1px solid #161616;

}

.layer-63 {
	margin: -65px -30px;
}

