

body {
	background: url(img/bg.png) repeat 0 0;
	background-size: cover;
	overflow-x:hidden;
	font-size: 90%;
}

a:hover {
	text-decoration: none;
	color: white;
}

a {
	color: white;
}

.contain {
	max-width: 980px;
}

	/*--- HEADER ---*/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: center;
	margin-top: 40px;

}

.nav-header,ul,.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: -5px;
}

.nav-header ul li {
	margin: 15px;

}

a {
	margin: 0 -2px;
}

hr {
	margin: -8px 0;
	height: 0;
	border-top:1px solid #373737;
	border-bottom:1px solid #161616;

}

.layer-63 {
	margin-right: 35px;
	margin-left: -35px;
}

.carousel-indicators {	
	position: absolute;
	left: 540px;
	bottom: 225px;
}
.carousel-indicators li{
	height: 6px;
	width: 6px;
	border: none;
	background: #b9bcc4;
}

.carousel-indicators .active {	
	height: 6px;
	width: 6px;
	padding-top: -5px;
	background: #3f4552;
}

.carousel-control,.carousel {
	position: relative;
}

.item img {
	margin: 20px -20px -20px 20px;
	padding-bottom: 20px;
}
.carousel-control img[src="img/gallery/left.png"]{
	position: absolute;
	left: 0px;
	bottom: 80px;
}
.carousel-control img[src="img/gallery/right.png"]{
	position: absolute;
	left: 1035px;
	bottom: 80px;
}

